@charset "UTF-8";


body{
    background-color:#7122FA;
	font-family: vdl-gigamarujr, sans-serif;
	font-weight: 500;
	font-style: normal;
    font-size:1.0;
}

/*h1{
  font-size:50px;
  color:#fff;
  margin-top: 20px;
  margin-left:auto;
  margin-right:auto;
}*/

.titleCenter{
  text-align:center;
}

.midashiImage{
  width:20%;
  margin-top:20px;
}

.titlesub{
  font-size:30px;
  margin-top: 20px;
  margin-left:auto;
  margin-right:auto;
  border-bottom:solid;
  /*border-bottom-width:thin;*/
  border-bottom-color:#ff0000;
}

h3{
  font-size:40px;
  font-style: oblique;
}

a{
	position: relative;
    font-size:20px;
	text-decoration: none;
	color: #c7216e;
	display: inline-block;
  	transition: .3s;
}

a::before,
a::after {
  position: absolute;
  content: '';
  width: 0;
  height: 1px;
  background-color: #2ecc71;
  transition: .3s;
}
a::before {
  top: 0;
  left: 0;
}
a::after {
  bottom: 0;
  right: 0;
}
a:hover::before,
a:hover::after {
  width: 100%;
}

.longBox{
  height:auto;
  background-color: #666666;
}

#syouIndex {
	font-weight: 500;
	position:fixed;
	right:0;
	left:70%;
	margin-left:1em;
	margin-bottom:1em;
	background-color: #eba30a;
	}

  #syouIndex dt {
  	margin:0 0 0.7em;  /*下マージンを指定してddの開始を0.7文字分下げています*/
  	padding:0;
  	background:#69c3ae;  /*グラデーション未対応のブラウザ用*/
  	background:linear-gradient(#7122fa, #eba30a 100%);  /*グラデーション*/
  	font-size:14px;
  	line-height:2.2em;  /*dtの高さを指定しています*/
  	font-weight:bold;
  	color:white;
  	text-indent:0.7em;  /*0.7文字分の字下げ（左側の空き）*/
  	}

    #syouIndex dd {
    	font-size:14px;
    	line-height:1em;  /*ddの高さを1文字分にしています*/
    	margin:0;
    	padding-bottom:0.7em;  /*ddの下部を0.7文字分空けています*/
    	}

#honbun{
  font-size: 30px;
  width: 80%;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
}

#honbunTitle{
  font-size: 45px;
  width: 60%;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  border-bottom: solid;
}

.nextPageImage{
	width:20%;
	position: absolute;
	right: 5%;
}

.backPageImage{
	width:20%;
	position: absolute;
	left: 5%;
}
